.about-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.under-construction{
  text-align: center;
  color: white;
  margin-top: 10%;
}
