.nav-text {
  text-decoration: none;
  color: white;
}

.nav-text:hover {
  color: white;
}

.nav-link{
  text-decoration: none;
}

.home-container{
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

#main-text{
  width: 40vw;
}