@font-face {
    font-family: 'Cronos Pro Bold';
    src: url('../assets/fonts/Cronos-Pro-Bold-Caption_12429.woff');
}


.note-header{
    font-family: 'Cronos Pro Bold';
    font-weight: bold;
    user-select: none;
}

.note-card{
    margin-right: -1vw;
    border-radius: 0 !important;
    transition: background-color 1s ease-out;

}

.note-card:hover{
    background-color:lightgray !important;
}