.sort-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7596a1;
}

.sort-item{
    text-decoration: none !important;
    color: white !important; 
}

.vertical-bar{
    width: 20px;
    display: inline-block;
    background-color: white;
    margin-left: 2px;
}

.algo-container{
    position: absolute;
    bottom: 10vh;
    left: 15vw;
}

.sort-button{
    display: inline-block !important;
    margin-right: 5px !important;
}

#navigation-title{
    position: absolute;
    color: black;
    left: 30vw;
    top: 40vh;
}


@media screen and (max-width: 1000px){
    .vertical-bar{
        width: 10px;
    }
}